# ====== CREDENCIAIS DO BANCO DE DADOS ======
POSTGRES_DB=minisocial_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=coloque_sua_senha_aqui

# ====== CREDENCIAIS DO PGADMIN ======
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# ====== CREDENCIAIS DO SUPABASE ======
SUPABASE_URL=https://[...].supabase.co
SUPABASE_KEY=cole_sua_service_role_key_aqui
SUPABASE_BUCKET=postagens


